:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;

  --u0: 4px;
  --u1: 8px;
  --u2: 12px;
  --u3: 16px;
  --u4: 24px;
  --u5: 32px;
  --u6: 48px;
  --u7: 64px;
  --u8: 96px;
  --u9: 128px;
  --u10: 192px;
  --u11: 256px;
  --u12: 384px;
  --u13: 512px;
  --u14: 640px;
  --u15: 768px;
  --u16: 960px;
  --u17: 1200px;

  --color-bg: #f1f1f1;
  --color-bg-alt: #e0e0e0;
  --color-border: #e0e0e0;
  --color-main: #646cff;
  --color-text: #333;
  --color-text-light: #666;
  --color-green-bg: #f0fff4;
  --color-green-border: #c6f6d5;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  background-color: var(--color-bg);
  margin: 0;
  color: var(--color-text);
  font-size: 16px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.25s;
}

main.app {
  display: flex;
  gap: var(--u3);
  padding: 0 var(--u3);
  overflow-x: auto;
  justify-content: space-between;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.app.no-chats {
  justify-content: center;
  align-items: center;
}

.app .chat {
  width: var(--u13);
  min-width: var(--u13);
  flex-basis: var(--u13);
  flex: 0 0 auto;
  background-color: #fff;
  border-left: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  position: relative;
}

.app .chat .messages {
  flex: 1;
  overflow-y: auto;
  padding: var(--u3);
}

.message-form {
  margin-top: var(--u3);
  height: var(--u8);
  padding: var(--u2);
  border: 1px solid var(--color-border);
  border-radius: var(--u1);
  margin: 0 var(--u3) var(--u3) var(--u3);
  display: flex;
  flex-direction: column;
}

.message-form-main {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.message-form-footer {
  display: flex;
  gap: var(--u2);
  align-items: center;
}

.message-form-footer .attached {
  width: var(--u7);
}

.attach-wrapper {
  width: var(--u6);
  display: flex;
  align-items: center;
  justify-content: left;
}

.attach-wrapper a {
  display: flex;
  align-items: center;
  gap: var(--u1);
  color: var(--color-text-light);
  font-weight: 500;
  font-size: 1.4em;
  transition: color 0.25s;
}

.attach-wrapper a:hover {
  color: var(--color-text);
}

.attached img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--u0);
}

.message-form textarea {
  width: 100%;
  height: 100%;
  font-size: 1em;
  font-family: inherit;
  resize: none;
  border: none;
  flex: 1;
}

.message-form button {
  background-color: var(--color-bg);
  font-weight: 500;
  text-transform: uppercase;
  margin-left: var(--u2);
  height: 100%;
  width: var(--u8);
}

.message-form button:hover {
  outline: none;
  background-color: var(--color-bg-alt);
}

.message-form button:disabled {
  background-color: var(--color-bg-alt);
  cursor: not-allowed;
}

textarea:focus {
  outline: none;
}

.messages .message {
  margin-bottom: var(--u4);
  /* padding: var(--u2); */
  border-radius: var(--u1);
  padding: 0 var(--u2);
}

.message .from {
  font-weight: 800;
  font-size: 0.8em;
  padding: var(--u0) var(--u1);
  background-color: var(--color-bg);
  display: inline-flex;
  margin-bottom: var(--u0);
  border-radius: var(--u0);
}

.message .message-image {
  width: var(--u8);
}

.message-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--u0);
}

.message .content {
  white-space: pre-wrap;
}

.message p:not(li p) {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.5;
  color: var(--color-text);
  margin-bottom: var(--u0);
}

.message li {
  white-space: normal;
}

li p {
  margin: 0;
}

.message code {
  background-color: var(--color-bg);
  padding: 2px var(--u0);
  border-radius: var(--u0);
}

.message pre {
  background-color: var(--color-bg);
  padding: var(--u2);
  border-radius: var(--u1);
  overflow-x: auto;
}

.message pre code {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}

.message ol {
  margin: 0;
}

.message.error {
  padding: var(--u2);
  color: white;
  border-radius: var(--u1);
  background-color: #cc6464;
  border: 1px solid #a33;
  font-weight: 500;
}

.chat-title {
  position: absolute;
  top: var(--u3);
  background-color: var(--color-main);
  color: white;
  padding: var(--u0) var(--u1);
  display: inline-block;
  right: 0;
  border-top-left-radius: var(--u1);
  border-bottom-left-radius: var(--u1);
  border-bottom: 1px solid var(--color-border);
  border-top: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
  font-size: 0.8em;
}

.chat-starter {
  background: white;
  padding: var(--u3);
  margin: var(--u4);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  flex: 0 0 auto;
}

.chat-starter ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.chat-starter ul li {
  margin-bottom: var(--u2);
  width: 100%;
}

.chat-starter ul li button {
  width: 100%;
  padding: var(--u2);
  border-radius: 8px;
  background-color: var(--color-bg);
  font-weight: 500;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-starter ul li button:hover {
  background-color: var(--color-bg-alt);
}

.chat-starter input {
  width: 100%;
  padding: var(--u2);
  border-radius: 8px;
  border: 1px solid var(--color-border);
  margin-bottom: var(--u2);
  box-sizing: border-box;
}

.preview {
  flex: 1;
  margin: var(--u3);
  border: 2px dashed var(--color-border);
}

.preview iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.loader {
  width: var(--u4);
  height: var(--u4);
  border: var(--u0) solid var(--color-main);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.task-in-progress {
  background-color: var(--color-green-bg);
  border: 1px solid var(--color-green-border);
  border-radius: var(--u1);
  padding: var(--u1) var(--u2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--u2);
}

.chat-task {
  margin: var(--u1) var(--u2);
}

.project-list {
  display: flex;
  gap: var(--u2);

  .item {
    width: var(--u11);
    background-color: white;
    padding: var(--u2);
    border: 1px solid var(--color-border);
    border-radius: var(--u1);

    h3 {
      font-size: 1.2em;
      margin: 0 0 var(--u1) 0;
    }

    .template {
      display: flex;
      flex-direction: column;
      gap: var(--u1);
      color: var(--color-text-light);
    }
  }
}
